<footer class="text-center">
  {{#if messages.message}}
    <div class="feedback-messages text-center bg-danger d-block m-auto">
      {{messages.message}}
    </div>
  {{/if}}
  <div class="container p-5">
    <p>
      Palavras quem salvam
      <br />
      &copy; 2023 - Todos os direitos reservados
      <br />
      <h6>Nossas redes sociais</h6>
      <a href="/"><i class="bi bi-facebook"></i></a>
      <a href="/"><i class="bi bi-instagram"></i></a>
      <a href="/"><i class="bi bi-tiktok"></i></a>
      <a href="/"><i class="bi bi-twitter"></i></a>
    </p>
  </div>
</footer>